version: '3.8'

volumes:
  moodledata:
  postgresql_data:

services:
  amb01:
    container_name: moodleserver
    build: .
    ports:
      - "9090:80"
      - "9443:443"
    volumes:
      - ./moodledata/_data/:/var/www/moodledata # Persistência para dados do Moodle
    depends_on:
      - database # Garante que o banco de dados inicie antes do Moodle
    links:
      - database # Permite que o Moodle se comunique com o serviço 'database'

  database:
    image: postgres:latest # Imagem oficial do PostgreSQL
    container_name: moodledb
    volumes:
      - ./postgresql/_data/:/var/lib/postgresql/data # Persistência para os dados do PostgreSQL
    environment:
      POSTGRES_DB: moodle           # Nome do banco de dados Moodle
      POSTGRES_USER: moodle_user    # Usuário do banco de dados Moodle
      POSTGRES_PASSWORD: mymoodlepass # Senha do usuário do banco de dados

  pgadmin:
    image: dpage/pgadmin4:latest # Imagem oficial do pgAdmin 4
    container_name: pgadmin
    ports:
      - "88:80" # Porta para acessar o pgAdmin (host:container)
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com # Email para login no pgAdmin
      PGADMIN_DEFAULT_PASSWORD: admin          # Senha para login no pgAdmin
    depends_on:
      - database # Garante que o banco de dados inicie antes do pgAdmin
    links:
      - database # Permite que o pgAdmin se comunique com o serviço 'database'
    volumes:
      - moodledata:/var/lib/pgadmin # Volume para persistir configurações do pgAdmin, usando volume nomeado

# Definição da rede
networks:
  moodle-network:
    driver: bridge
